---
// src/components/ReadingProgress.astro
---
<div id="reading-progress"></div>

<script src="/scripts/reading-progress.js" is:raw></script>

<style>
  #reading-progress {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    background-color: var(--neon-cyan);
    z-index: 9999;
  }
</style>



